<div class="container-fluid bg-light p-2 shadow">
    <div class="row w-100">
        <div class="col-12 p-0">
            <p class="m-0 text-center">&copy All copytights reserved</p>
        </div>
    </div>
</div>