<%- layout('layout/boilerplate') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 d-flex" style="min-height: min-content;">
            <div class="iframe-div-check-email">
                <iframe src="https://xd.adobe.com/embed/1e3c98cd-f08e-47d4-881d-b98a0076d4f6-4b6f/" frameborder="0"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>