<%- layout('layout/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="iframe-div-sent">
                <iframe src="https://xd.adobe.com/embed/c2aa5f18-f5a9-4832-b484-d71849ec43e9-97f9/" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <a href="/about" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>